@import '~antd/dist/antd.css';

.gGua{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
}

.gYang{
    width: 300px;
    height: 30px;
    background-color: black;
}

.gYin{
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: center;
}

.gLeft{
    width:130px;
    background-color: black;
}

.gMiddle{
    width:40px;
}

.gRight{
    width:130px;
    background-color: black;
}